# Gitignore file

# Ignore localy generated tempory file from Software ideas modeller
*.simp.bak

#Build Directories
[Dd]ebug/
[Rr]elease/

#Build Results
*.o
*.d
*.eep
*.elf
*.hex
*.map
*.srec

#User Specific Files
*.atsuo