body {
   margin: 0px;	
   background: yellow;
}

header {
   background: yellow;
   padding: 15px 15px 0px 0px;
}

header h1 {
   margin: 0;
   display: inline;
}

nav ul{
   margin:0;
   padding: 0 0 0 15px;
   display: inline;
}

nav ul li {
   background:red;
   color: blue;
   display: inline-block;
   list-style-type: none;
   padding: 5px 15px;
}

.navbar {
	list-style-type: none;
}

